form {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 400px;
    margin: 24px auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .login{
    /* background-color: #4CAF50; */
    height: 600px;
    /* background-image:url("../assets/guvi.webp"); */
  }
  .signupBody{
    /* background-color:#C9C9C9; */
    height: 600px;
    /* background-image:url("../assets/guvi.webp"); */
  }
  